header {
    background-color: black;
    color: white;
    padding: 10px;
}

.issue {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 10px;
}

.issue input {
    height: 25px;
}

.descr {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 10px;
}

.descr input {
    height: 70px;
}

.assign {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 10px;
}

.dropdown {
    margin-top: 5px;
    padding: 8px;
    background-color: #EEEEEE;
}

.type {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 10px;
}

.type select {
    margin-top: 5px;
    padding: 8px;
    background-color: #EEEEEE;
}

.prior {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 10px;
}

.prior select {
    margin-top: 5px;
    padding: 8px;
    background-color: #EEEEEE;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

#submit {
    margin-top: 10px;
    background-color: blue;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 30px;
}

input {
    background-color: #EEEEEE;
    border: none;
}

nav {
    float: left;
    background-color: lightgrey;
    list-style: none;
    height: 100%;
    font-size: 30px;
    padding-bottom: 100%;
    padding-right: 100px;
    padding-left: 20px;
    margin-right: 50px;
}

i {
    padding-right: 10px;
}

.sidebar button {
    padding: 10px;
    background-color: lightgray;
    border: none;
}

h2 {
    font-size: 50px;
}

main {
    padding-left: 50px;
}