a {
    text-decoration: none;
    color: black;
}

i {
    padding: 20px;
}

li {
    list-style-type: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
}

.issue {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 10px;
}

.issue input {
    height: 25px;
}

.descr {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 10px;
}

.descr input {
    height: 70px;
}

.assign {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 10px;
}

.dropdown {
    margin-top: 5px;
    padding: 8px;
    background-color: #EEEEEE;
}

.type {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 10px;
}

.type select {
    margin-top: 5px;
    padding: 8px;
    background-color: #EEEEEE;
}

.prior {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 10px;
}

.prior select {
    margin-top: 5px;
    padding: 8px;
    background-color: #EEEEEE;
}

main {
    margin-left: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    margin-left: 0px;
}

#submit {
    margin-top: 10px;
    background-color: blue;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 30px;
}

input {
    background-color: #EEEEEE;
    border: none;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: absolute;
    left: 10;
    top: 10;
    padding-top: 40px;
    background-color: lightgray;
}

.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
}

.sidebar button {
    padding: 5px;
    margin-left: 0px;
    width: 200px;
    background-color: lightgray;
    border: none;
}

h2 {
    font-size: 50px;
}